<br>
<h2>Post your Status!</h2>

<%= form_for([@user, @post]) do |f| %>
  <% if @post.errors.any? %>
    <div class="errors-div">
      <h4 class="errors-colors">
        I'm sorry, your post couldn't be saved because:
      </h4>
      <ul>
        <% @post.errors.messages.each do |field, error| %>
        <li class="errors-colors"><%= "#{field.to_s.capitalize} #{error[0]}" %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h4><%= f.label :title %></h4>
  <%= f.text_field :title, cols: 50 %><br>

  <h4><%= f.label :body %></h4>
  <%= f.text_area :body, cols: 50, rows: 5 %><br>

  <%= f.submit 'Post' %>
<% end %>
