<div id="post-form">
  Post your Status!

  <%= form_for([@user, @post], url: user_posts_path(@user), html: { multipart: true }, authenticity_token: true, remote: true) do |f| %>
    <% if @post.errors.any? %>
      <div class="errors-div">
        <h4 class="errors-colors">
          Your post couldn't be saved because:
        </h4>
        <ul>
          <% @post.errors.messages.each do |field, error| %>
          <li class="errors-colors"><%= "#{field.to_s.capitalize} #{error[0]}" %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group" id="posts-outer">
      <div class="post-form margin_small_bottom">
        <%= f.text_field :title, cols: 50, placeholder: 'Title', class: "form-control" %>
      </div>

      <div id="body-errors" class="post-form margin_small_bottom">
        <%= f.text_area :body, id: 'post_body', cols: 20, rows: 3, class: "form-control", placeholder: 'Body' %>
      </div>

      <div id="body-errors" class="post-form">
        <%= f.file_field :photo, class: "form-control margin_small_bottom" %>
      </div>

      <%= f.submit 'Post', class: "btn btn-default", id: "post-submit-button" %>
    </div>

  <% end %>

</div>
