<div id="post-form">
  Post your Status!

  <%= form_for([@user, @post], remote: true) do |f| %>
    <% if @post.errors.any? %>
      <div class="errors-div">
        <h4 class="errors-colors">
          I'm sorry, your post couldn't be saved because:
        </h4>
        <ul>
          <% @post.errors.messages.each do |field, error| %>
          <li class="errors-colors"><%= "#{field.to_s.capitalize} #{error[0]}" %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">

      <div class="post-form">
        <%= f.text_field :title, cols: 50, placeholder: 'Title', class: "form-control" %>
      </div>

      <div id="body-errors" class="post-form">
        <%= f.text_area :body, id: 'post_body', cols: 20, rows: 3, class: "form-control", placeholder: 'Body' %>
      </div>

    </div>

    <h4><%= f.submit 'Post', class: "btn btn-default", id: "post-submit-button" %></h4>
  <% end %>

</div>
